.navbar {
	background-color: #333;
}
.card{
	background-color: #ffffff;
	border-color: #ccc;
    margin-top: 10px;
}
body{
	font-size: medium;
	background-image: url(img/"nyc back.jpg");
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}